<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <div class="last-works ">last works >>></div>
      <a class="nav-item nav-link " data-toggle="tab" routerLink="cenzor"routerLinkActive="active">censor</a>
      <a class="nav-item nav-link"  data-toggle="tab" routerLink="tasklist" routerLinkActive="active" >tasklist</a>
      <a class="nav-item nav-link" data-toggle="tab" routerLink="userlist"routerLinkActive="active" >userlist</a>
      <a class="text-warning back" routerLink="" >back to >>> home</a>
      
    </div>
    
  </nav>
 <div class="window">
    <router-outlet></router-outlet>

 </div>
